@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header {
  width: 100%;
}

.logo>h1 {
  font-size: 28px;
  font-weight: 700;
  color: #1A236E;
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav>a {
  font-size: 18px;
  font-weight: 500;
  color: #1A236EB2;
  text-decoration: none;
}

nav>div>p {
  font-size: 13px;
  font-weight: 700;
  text-align: end;
  color: #1A236EB2;
}

nav>div>a {
  font-size: 18px;
  font-weight: 500;
  text-align: end;
  color: #1A236E;
  text-decoration: none;
}

nav>button {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: transparent;
}

main {
  width: 100%;
  height: 90vh;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
}


.hero>h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  color: #FFFFFF;
}

.hero>p:nth-child(2) {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFFCC;
  margin-top: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 40px 0px 24px 0px;
}

.buttons>button {
  padding: 20px 32px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  color: #1A236E;
  font-weight: 500;
  outline: none;
}

.buttons>button:nth-child(1) {
  background-color: #FCDF00;
}

.hero>p:nth-child(4) {
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFFCC;
}


.sect {
text-align: center;
color: #1A236E;
}


.sect1 > h1 {
 width: Hug (1,440px)
height: Hug (730px)
top: 878px
}

.sect1 > p {
    //styleName: Style 1 / Title 3 Medium;
font-family: Stem;
font-size: 24px;
font-weight: 500;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
width: 720px
height: 62px
}

.sect2 {
    
}

.sect2 > .di > p {
    //styleName: Style 1 / Title 2 Medium;
font-family: Stem;
font-size: 28px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
width: 260px
height: 72px
}


